<div class="container">
	<div class="row">
		<div class="final2">
			<div class="col-xs-7">
				<div class="content">
					<%= image_tag('about_us2.jpg', :size =>"700x502") %>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="content">
					<table class="table">
		    			<tbody bgcolor="#afeeee">
		    				<tr>
		    					<td>
                      				<h3 class="about_carand">～最高の巡り合いを届けたい～</h3>
                      				<br></br>
								</td>
				    		</tr>
				    		<tr>
				   				 <td>
									<div class="carand_introduction">
										<p>カランドは、皆様に最高の出会いをお届けするフリマサイトを
										目指しています。<br></br><br></br>
										どうしても欲しい商品、あなたにはないですか？<br></br><br></br>
										出品者に交換リクエストを投げてあなたの提案をぶつけてみましょう。
										どうしても欲しかった商品が思いがけず、手に入るかもしれません。</p>
										<br></br>

										<p>あなたが最高の商品と巡り合うこと<span class="come-around">(come around)</span>ができますように～
										我々カランドをぜひご活用ください！</p>
									</div>
				    			</td>
				    		</tr>
						</tbody>
					</table>
                </div>
            </div>
		</div>
	</div>
</div>