<div class="container">
<div class="row">
<div class="final2">
	<%#= image_tag 'img_no_image.png' %>
	<div class="col-xs-7">
		<div class="contentz">
		<%= image_tag('about_us2.jpg', :size =>"650x400") %>
	</div>
</div>
<div class="col-xs-5">
		<div class="contentz">



<h3 class="about_carand">～あなたに最高の巡り合いを届けたい～</h3>
<br></br>

<div class="carand_introduction">
<p>カランドは、皆様に最高の出会いをお届けするフリマサイトを
目指しています。</p>
<p>どうしても欲しい商品、あなたにはないですか？<br>
カランドでは商品の売り買いはもちろんですが、交換機能も充実しています。</p>
<br></br>

<p>出品者に交換リクエストを投げてあなたの提案をぶつけてみましょう。
どうしても欲しかった商品が思いがけず、手に入るかもしれません。</p>
<br></br>

<p>あなたが最高の商品と巡り合うこと(come around)ができますように～
我々カランドをぜひご活用ください！</p>
</div>




</div>
<div style="background-image: url(img/treasure.jpg)"></div>
</div>

</div>
</div>
</div>