<div class="container">
	<div class="row">
		<div class="col-xs-2">
			メニューバー
		</div>
		<div class="col-xs-10">
			<table class="table table-bordered">
				<h4>残高</h4>
				<h4><%= @balance %></h4>
			<table>
		</div>
	</div>
</div>