<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h4>取引一覧</h4>
			<% @tradings.each do |trading| %>
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td width="10%">
								<%= attachment_image_tag trading.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
							</td>
							<td width="40%">
								<%= link_to trading.product.name, trading_path(trading.id) %>
							</td>
							<td width="40%">
								<%= number_to_currency(trading.product.price, :unit => "￥", :precision => 0) %>
							</td>
							<td width="10%">
								<%= trading.product.created_at.strftime('%Y-%m-%d') %>
							</td>
						</tr>
					</tboy>
				</table>
			<% end %>
		</div>
	</div>
</div>