<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h4>交換リクエスト【もらった】 一覧</h4>
			<% @barter_requests.each do |barter_request| %>
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td width="10%">
								<%= attachment_image_tag barter_request, :image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
							</td>
							<td width="40%">
								<%= link_to barter_request.name %>
							</td>
							<td width="10%">
								<%= barter_request.created_at.strftime('%Y-%m-%d') %>
							</td>
						</tr>
					</tboy>
				</table>
			<% end %>
		</div>
	</div>
</div>