<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h3>購入 取引一覧へ</h3>
　　　　			<p>購入取引件数<%= link_to current_user.active_tradings.count, bought_tradings_path(current_user.id) %>件</p>


			<h4>出品中</h4>
			<% @products.each do |product| %>
				        <div class="col-xs-3">
								<%= link_to product_path(product.id) do %>
								<%= attachment_image_tag product, :image, format: "jpeg", fallback: "no_image.jpg", size: "100x100", class: "center-block" %>
					    </div>
			<% end %>
			<% end %>
			<%= @count %>
		</div>
	</div>
</div>