<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h2>通報一覧</h2>
				<table class="table table-bordered">
					<tbody>
						<% @reports.each do |report| %>
							<tr>
								<td><%= report.subject %></td>
								<td><%= report.content %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
