/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header {
  font-weight: bold;
	.title {
	  font-size: 26px;
	  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
	  color:#fff;
	  text-shadow: 3px 3px 0 #4169e1
}
}
body {
	margin-top: 70px;
}
.hoge {
	color: white;
	margin-bottom: 10px;
}
.content1{
  	position: absolute;
	top: 100px;
	left: 600px;
	font-size: 30px;
	color:#4169e1;
	font-weight: bold;
		.word{
			color:#f79428;
}
}
.content2{
  	position: absolute;
	top: 200px;
	left: 300px;
	font-size: 70px;
	color:pink;
	font-weight: bold;
	text-shadow: 3px 3px 0 #4169e1
}

.main-visual{
	position: rerative;
}

body {
    background: #f8f8f8;
}
.badge{
	background: red;
}
